<main class='p-5'>

  <div class='card p-5'>
    <p>
      Hello world!
    </p>
  </div>

  <div class='card p-5'>
    <p id='test'>
      Hello world!
    </p>
    <span>Test</span>
  </div>

  <div class='card p-5'>
    <p id='test1'>
      Hello world!
    </p>
  </div>

  <div class='card p-5'>
    <p id='test2'>
      Hello world!
    </p>
  </div>

  <pre>Hello</pre>
  <div
    style='padding: 10px 30px 40px 50px; background: green'
  >
    <span class='test'>Hello mates</span>
    <span class=''>Hello mates</span>
    <span class=''>Hello mates</span>
    <span class=''>Hello mates</span>
    <span class='block'>Hello mates Hello mates Hello mates
      Hello mates Hello mates Hello mates</span>
  </div>
</main>