.card {
  color: red;
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 2px blue;
}
p:hover{
  -webkit-text-fill-color: rgb(229, 255, 0);
  -webkit-text-stroke: 2px rgb(206, 14, 245);

  direction: rtl;
}

#test {
  color: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;

  /*writing-mode: vertical-lr;*/

  text-align: justify;
}

span {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline wavy rebeccapurple;
}

span:hover {
	text-decoration-line: line-through;
}

#test1 {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;
}

#test2 {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
}

pre {
tab-size: 1;
letter-spacing: 0.5em;
}

* {
	font-family: 'Roboto', fantasy;
	font-size: 18px;
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	font-stretch: expanded;
}

span {
	font-size: larger;
	font-weight: lighter;
	font-style: oblique;
}

.test {
	display: none;
}
.block {
	display: block;
	margin: auto;
	background: blue;
	width: min-content;
	min-height: max-content;
	max-width: min-content;
}