:root {
	--text-color: green;
	--space-medium: 24px;
}

.page {
	background: #ffffff;
	padding: 0 15px;
}
.page_content {
	max-width: 960px;
	margin: 0 auto;
}

.header {
padding: var(--space-medium);
border-bottom: 1px solid #DEE2E6;
}

.logo {
	font-size: 17px;
}

.divider {
	margin: 0;
	height: 1px;
	background: #DEE2E6;
}

.nav {
display: block;
}

.nav_link {
color: #343A40;
font-size: 16px;
text-decoration: none;
}
.nav_link:hover {
	text-decoration: underline;

	opacity: 50%;
}

.nav_vertical > .nav_link{
	display: block;
}

.nav_inline > .nav_link:not(:last-child) {
margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child) {
margin-bottom: 12px;
}

.header_nav_right {
	margin-left: auto;
	width: fit-content;
}

.page_block:not(:last-of-type) {
	margin-bottom: 80px;
}

.footer {
	padding: var(--space-medium);
	border-top: 1px solid #DEE2E6;
}

.footer_copyright {
	font-size: 14px;
	color: #6C757D;

	display: block;

	margin-top: 12px;
}

.footer_title {
	font-size: 20px;
	color: #212529;

	display: block;
	margin-bottom: 12px;
}

.hero_title {
	font-size: 56px;
	color: #212529;
	font-weight: 500;
	margin-bottom: 12px;
	text-align: center;
	line-height: 50%;
}

.hero_text {
	color: #212529;
	font-size: 20px;
	text-align: center;
	max-width: 585px;
	margin: 0 auto;
}

.plans_card:not(:last-of-type) {
	margin-right: var(--space-medium);
}

.card-header {
	padding: 12px;
	text-align: center;
	font-size: var(--space-medium);
	color: #212529;
}

.card-body {
	padding: var(--space-medium);
}

.card_price {
	text-align: center;
	margin-bottom: var(--space-medium);
}

.card_price_amount {
	font-size: 40px;
	color: #212529;
}

.card_price_duration {
	font-size: 13px;
	color: #6C757D;
	vertical-align: 15px;
}

.card_block {
	text-align: center;
}

.card_block:not(:last-of-type) {
	margin-bottom: var(--space-medium);
}

.card_description_item {
	font-size: 16px;
	color: #212529;
	display: block;
	text-align: center;
}

.card_description_item:not(:last-of-type) {
	margin-bottom: 12px;
}

.card_button {
	display: block;
	width: 100%;
	font-size: 19px;
	padding: 9px;
}

.card {
	border: thin solid red;
	
	border-radius: 20px;

}

.card:hover {
	outline: thin solid yellow;
	outline-offset: 3px;
	box-shadow: 0px 0px 0px 10px rgb(32, 42, 131);
	cursor: pointer;
	opacity: 0,5;
}

.btn {
	border-radius: 25px;
}

.btn:hover {
	box-shadow: 0px 0px 0px 10px rgb(32, 42, 131);
}

h1 {
	text-shadow: 0px 0px 10px green;
}

.plans_card:nth-child(2) {
	visibility: hidden;
}

p{
	background: grey;
	width: 200px;
	height: 100px;
	text-overflow: ellipsis;
}

.hero_text {
	background: grey;
	max-width: 250px;
	width: 200px;
	hyphens: manual;
	word-spacing: 10px;
	overflow: auto;
	resize: both;
}

.overflow {
	overflow-wrap: break-word; 
}

.hero_text {
	padding: 40 px;
	color: rgb(86, 241, 9);

	border-image-source: url("/img/test2.jpeg");
	border-image-width: 50%;
	border-image-slice: 50%;
	border-image-repeat: round;
	border-image-outset: 50px;
}

/* .page {
	background-color: transparent;
	background-image: url("/img/test2.jpeg");

	background-repeat: no-repeat;
	background-position: 50%;

	background-size: cover;
	background-attachment: fixed;
}  */

.card_block {
	list-style-type: upper-roman;
	list-style-position: inside;
	list-style-image: linear-gradient(red)
	
}

.card_description_item {
	display: list-item;
}

.table tr {
	border: 1px solid black;
}

.table tr td {
	border: 1px solid grey;
	border-bottom-color: red;
	border-right-color: blue;
	
}

.table {
	table-layout: fixed;
	width: 600px;

	border-collapse: unset;

	border-spacing: 20px 10px;

	caption-side: top;

	empty-cells: hide;
}

.nav_link::before,
.nav_link::after {
	
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;

	background-image: url("/img/test2.jpeg");
}

.nav_link::before {
	margin-right: 15px;
}

.nav_link::after {
	margin-left: 15px;
}

.calc {
	width: 600px;

	margin: 0;

	margin-left: calc(50% - (600px / 2));
}